@tailwind base;
@tailwind components;
@tailwind utilities;

span.blur {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

span.blur:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

a {
  @apply text-blue-400
}

small {
  @apply text-green-600
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('/fonts/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('/fonts/IBMPlexMono-Regular.ttf');
}

.eightbit-font {
  font-family: "PressStart2P-Regular"
}

.eightbit-btn {
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
.eightbit-btn--reset {
  background: #e76e55;
  box-shadow: inset -4px -4px 0px 0px #8c2022;
}
.eightbit-btn--reset:hover, .eightbit-btn--reset:focus {
  background: #ce372b;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
}
.eightbit-btn--reset:active {
  box-shadow: inset 4px 4px 0px 0px #8c2022;
}
.eightbit-btn--proceed {
  background: #f7d51d;
  box-shadow: inset -4px -4px 0px 0px #e59400;
}
.eightbit-btn--proceed:hover, .eightbit-btn--proceed:focus {
  background: #f2c409;
  box-shadow: inset -6px -6px 0px 0px #e59400;
}
.eightbit-btn--proceed:active {
  box-shadow: inset 4px 4px 0px 0px #e59400;
}