@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

span.blur {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

span.blur:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

a {
  @apply text-blue-600
}

@font-face {
  font-family: 'PressStart2P-Regular';
  src: url('/fonts/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('/fonts/IBMPlexMono-Regular.ttf');
}

.font-8bit {
  font-family: "PressStart2P-Regular"
}